extends layout/main
include addons/card

block meta
    - var title = 'Index page';
    - var description = 'Description for index page';
    - var pageClass = 'index-page';

block head
    // Includes in head ex.
    // link(rel="stylesheet" href="...")

block content

    section.content
        h1 This is contentsdfsdf

        div.container
            +card('This is card title', 'This is card description')

        #app
            example

block script
    script().
        const some = 'Pug include scripts here';
        console.log(some);