extends layout/main
include utils/mixins

block meta
    - var title = 'Index page';
    - var description = 'Description for index page';
    - var pageClass = 'index-page';

block head
    // Includes in head ex.
    // link(rel="stylesheet" href="...")

block content

    section.content
        h1 This is content

        #app
            example

        div.container
            +sample('This is title', 'This is description')

block script
    script().
        const some = 'Pug include scripts here';
        console.log(some);