extends layout/main

block meta
    - var title = 'Some page';
    - var description = 'Description for some page';
    - var pageClass = 'some-page';

block content
    section.content
        h1 This is some content